<h2>
	{{title}}
</h2>

<section id="top-section"></section>
<div class="aTextDecor">
	<ul>
		<li>
			<nav><a routerLink="/inputoutput" routerLinkActive="active">Inputs and Outputs</a></nav>
			<!--<h3><a routerLink="/inputoutput" routerLinkActive="active">Inputs and Outputs</a></h3>-->
			<p>
				<b>inputoutput/ParentComponent and Child Component</b> <br>
				1. Passing values from parent to child components using inputs and data binding<br>
				2. Passing values from child to parent by output and emitting event.

			</p>
		</li>
		<li>
			<nav><a routerLink="/pipes">Pipes</a></nav>
			<!--<h3><a routerLink="/template-driven-forms">Template Driven Forms</a></h3>-->
			<p>
				<b>pipes/PipesComponent</b> <br>
				1. Using Pipes to format numeric, currency and date values <br>
			</p>
		</li>
		<li>
			<nav><a routerLink="/template-driven-forms">Template Driven Forms</a></nav>
			<!--<h3><a routerLink="/template-driven-forms">Template Driven Forms</a></h3>-->
			<p>
				<b>forms/tdf/TemplateDrivenFormComponent</b> <br>
				1. Declaring and instantiating objects from plain classes (Hero and Heorine) <br>
				2. Using of arrays. <br>
				3. Accessing created objects from html
			</p>
		</li>
	</ul>
</div>

<hr>


<section id="display-section"></section>
<div id="display">
	<router-outlet></router-outlet>
</div>
<a scrollTo href="#top-section">Back to top</a>
