<h2>
	{{title}}
</h2>

<section id="top-section"></section>
<div class="aTextDecor">
	<ul>
		<li>
			<nav><a routerLink="/inputoutput" routerLinkActive="active">Inputs and Outputs</a></nav>
			<p>
				<b>inputoutput/ParentComponent and Child Component</b> <br>
				1. Passing values from parent to child components using inputs and data binding<br>
				2. Passing values from child to parent by output and emitting event.

			</p>
		</li>
		<li>
			<nav><a routerLink="/pipes">Pipes</a></nav>
			<p>
				<b>pipes/PipesComponent</b> <br>
				1. Using Pipes to format numeric, currency and date values <br>
			</p>
		</li>
		<li>
			<nav><a routerLink="/template-driven-form">Template Driven Form</a></nav>
			<p>
				<b>forms/tdf/TemplateDrivenFormComponent</b> <br>
				1. Create ngForm, handling (ngSubmit) event, ngModelGroup <br>
				2. Banana in a box two-way binding [(email)] <br>
			</p>
		</li>
		<li>
			<nav><a routerLink="/tdf-val-i">TDF Validation I</a></nav>
			<p>
				<b>forms/tdf-val-i/TdfValIComponent</b> <br>
				1. Using input required class alert alert danger<br>
				2. Interpolate nameRef.classname to show states of validation<br>
				3. styles - input.ng-invalid <br>
				4. Assign input name with ngModel and use div hidden=ngModel.valid || pristine
			</p>
		</li>
		<li>
			<nav><a routerLink="/tdf-val-ii">TDF Validation II</a></nav>
			<p>
				<b>forms/tdf-val-i/TdfValIIComponent</b> <br>
				1. Using minlength<br>
				2. Div *ngIf processed only when there is <b>nameRef.error, nameRef.dirty or touched</b><br>
				3. Div hidden if nameRef.errors.required ie. values entered <br>
				4. Div hidden if nameRef.errors.minLength and maxLength ie. min or max length entered <br>
				5. Pattern matching validation.
			</p>
		</li>
		<li>
			<nav><a routerLink="/model-driven-form">Model Driven Form with FormBuilder</a></nav>
			<p>
				<b>forms/model-driven-form/ModelDrivenFormComponent</b> <br>
				1. Instantiating FormGroup and FormControl in componentbr><br>
				2. Using <b>[FormGroup]</b> = variable of form group in component, setting <b>formControlName</b> and
				<b>formGroupName</b><br>
				3. <b>Validators array</b> => <b>[Validators.required, minLength(), maxLength() and pattern()]</b><br>
				4. Using 3 separate <b>*ngIf="userForm.controls['name'].hasError('required'), 'minlength'"</b>
				5. Button <b>[disabled]</b>
				6. Using <b>FormBuilder</b>
			</p>
		</li>
		<li>
			<nav><a routerLink="/service">Simple Service</a></nav>
			<p>
				<b>service/EmployeeMainComponent</b> <br>
				1. Create <b>EmployeeService</b> - @Injectable export class<br>
				2. <b>EmployeeMainComponent</b> -> <b>EmployeeListComponent</b> <br>
			</p>
		</li>
		<li>
			<nav><a routerLink="/http">Fetch HTTP Data</a></nav>
			<p>
				<b>service/EmployeeMainHttpComponent</b> <br>
				1. Create <b>EmployeeHttpService</b> - @Injectable export class<br>
				2. Employee JSON in <b>assets</b> folder <br>
				3. <b>Service</b> - retrieve data using <b>http get</b>, receive <b>Response</b> object, convert to <b>JSON</b> object and <b>return</b><br>
				4. Subcriber - subscribe to the <b>Observable</b> (http response) and <b>assign</b> to internal array <br>
				5. Http data error handling using <b>catch</b> <br>
			</p>
		</li>
	</ul>
</div>

<hr>


<section id="display-section"></section>
<div id="display">
	<router-outlet></router-outlet>
</div>
<a scrollTo href="#top-section">Back to top</a>
